
/* base styles */

* {box-sizing: border-box;}
body{ margin: 0; padding: 20px 20px 20px 20px; font-family: "Times New Roman", Georgia, Serif; }

h1 {margin-bottom: 15px; text-align: center;}
h2 { border-style: solid; border: 1px solid black; padding: 5px 30px 5px 30px;}
p { padding: 50px 15px 20px 15px;}
section {background-color: grey;  border: 1px solid black;  margin-right: 2px; margin-bottom: 3px; position:relative; padding: 0;}

/* headers */
#p1 {background-color: pink; position: absolute; top: -20px; right: -1px;}
#p2 {color: white; background-color: #A52A2A; position: absolute; top: -20px; right: -1px;}
#p3 {background-color: #ffeee0; position: absolute; top: -20px; right: -1px;}


/*Desktop view */
@media(min-width: 992px )
{
  .col1, .col2, .col3{ width: 33%; float: left;  }

}
/*Tablet view */
@media(min-width: 768px ) and (max-width: 991px)
{
 .col1, .col2{ width: 48%;  float: left; }

 .col3 {float: left; margin-right: 4%}
}

/*Mobile view */
@media(max-width: 767px )
{

}
